.container {
   text-align:center;
    background: rgba(0,0,0,.075);
}
.img-del
{
	max-width: 30px;
    height: auto;
}

.delButton
{
	background:transparent;
	border:0;
	float:right;
	
}
.green{
	background:#378c3d;
	color:white;
}
.red{
	background:#a52929;
	color:white;

}

.yellow{
	background:#c2bd0f;
	color:white;
}

.table-bordered>tbody>tr>td

{
	vertical-align:middle !important;
	border-right:none !important;
	border: 1px solid #dadada;
    border-left: 0px !important;
   
    
}
}
.table-bordered>thead>tr>th

{
	border:none !important;
}

.table-bordered
{
	border:none !important;
}
.add
{
	background: transparent;
    border: 0;
   
}


.redbutton
{	float:right;
	color: #fff;
    background-color: #a52929 !important;
    border-color: #a52929;
    width:10%;
}

.redbutton:hover {
    color: #fff;
    background-color: #800000;
    border-color: #a52929;
}

.button
{
	color: #fff;
    background-color: #378c3d;
    border-color: #378c3d;
    width:10%;
}

.button:hover {
    color: #fff;
    background-color: #294930;
    border-color: #06070a;
}